<!-- banner -->
<div class="relative w-full h-[450px] overflow-hidden font-[tipo1]">
  <img src="banner_postular.jpg" alt="banner home" class="w-full h-full object-cover brightness-75">


  <div class="absolute top-1/3 left-10 text-4xl text-white font-bold">
    Se parte de nosotros
  </div>

  <div >
    <a href="https://forms.gle/eyBTQ7YAUQzawHc96" 
   target="_blank"
   class="absolute top-[55%] left-10 text-2xl text-white 
          transition-all duration-300 hover:text-green-300 hover:underline hover:scale-105">
  Postula aquí →
</a>

  </div>
</div>
<section class="flex flex-col lg:flex-row items-center justify-between px-8 lg:px-16 py-12">
  <!-- Imagen a la izquierda -->
  <div class="w-full lg:w-1/2 flex justify-center mb-8 lg:mb-0">
    <img src="postular_img.jpeg" 
         alt="Imagen Agroindustrial"
         class="w-[300px] h-[300px] object-cover object-[85%_center] rounded-xl shadow-lg">
  </div>

  <!-- Texto a la derecha -->
  <div class="w-full lg:w-1/2 text-center lg:text-left">
   <h2 class="text-3xl font-bold mb-4 text-green-600">¿Por qué elegirnos?</h2>

    <p class="text-gray-700 leading-relaxed">
      Gozar de un oportuno analisis de la coyuntura, al cual podrà acceder
a traves de nuestros diversos productos.
    </p>
    <p>Obtener un servicio personalizado: Nos adaptamos a las necesidades de cada
trabajador.</p>
<p>Mantenerse informado a traves de un analisis tecnico del mas alto nivel.</p>
<p>Solucionar cualquier duda o consulta. Nuestro equipo esta a su disposiciòn.</p>
  </div>
</section>
