
<p-toast></p-toast>
<div class="min-h-screen grid grid-cols-1 lg:grid-cols-2 font-[tipo1]">
  
    <!-- Imagen lado izquierdo -->
   <div class="hidden lg:block relative">
  <img src="bannerlogin.jpg" 
       alt="Imagen Agroindustrial"
       class="w-full h-full object-cover object-[85%_center]">
</div>

    <!-- Formulario lado derecho -->
    <div class="flex items-center justify-center bg-white p-8">
      <p-card  class="w-full p-3 m-5">
        
        <div class="flex justify-between items-center mb-4">
          <h2 class="text-lg font-medium text-gray-700">Bienvenido trabajador</h2>
          <img src="LogoNombreWhite.svg" alt="Agrokasa" class="h-12">
        </div>
  
        <h3 class="text-2xl font-semibold text-green-700 mb-6 text-center">INICIAR SESIÓN</h3>
  
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-7">
          
          <p-float-label>
            <input pInputText id="dni" type="text" formControlName="username" 
                   class="w-full p-inputtext-sm border-gray-300">
            <label for="dni">Ingrese su DNI: </label>
          </p-float-label>
  
          <p-float-label>
            <p-password formControlName="password" [feedback]="false" [toggleMask]="true"
                        styleClass="w-full" inputStyleClass="w-full" >
            </p-password>
            <label for="password">Ingrese su contraseña:</label>
          </p-float-label>
  
          <div class="pt-2 ">
            <p-button type="submit" label="Ingresar" styleClass="p-button-success w-full"></p-button>
          </div>
  
          <div class="text-sm text-center mt-2">
            ¿Olvido la Contraseña?
            <a  (click)="contrasena()" class="text-green-700 hover:underline cursor-pointer">Restablecer Contraseña</a>

          </div>
        </form>
      </p-card>
    </div>
  </div>
  