<!-- banner -->
<div class="relative w-full h-[400px] overflow-hidden font-[tipo1]">
  <img src="img_nosotros.jpg" alt="banner nosotros" class="w-full h-full object-cover brightness-75">


  <div class="absolute top-1/3 left-10 text-4xl text-white font-bold">
    Cultivamos bienestar y desarrollo para el mundo
  </div>
</div>

<section class="flex flex-col lg:flex-row items-center justify-between px-8 lg:px-16 py-12">
  <!-- Texto a la izquierda -->
  <div class="w-full lg:w-1/2 text-center lg:text-left mb-8 lg:mb-0">
    <h2 class="text-3xl font-bold mb-4">Sobre la Empresa</h2>
    <p class="text-gray-700 leading-relaxed ">
      Agrokasa impulsa el crecimiento agrícola en Ica mediante la producción y comercialización de productos de alta calidad, actuando con innovación, eficiencia y responsabilidad social. 
      Apuesta por la modenización continua, incorporando solluciones tenologicas que fortalecen la productividad de sus trabajadores.
    </p>    
    <p>La empresa se proyecta como líder den el sector agroindustrial peruano, con procesos sostenibles y una gestion esficientes de recursos.</p>
  </div>

  <!-- Imagen a la derecha -->
  <div class="w-full lg:w-1/2 flex justify-center">
    <img src="bannernosotros2.jpg" 
         alt="Imagen Agroindustrial"
         class="w-[500px] h-[400px] object-cover object-[85%_center] ">
  </div>
</section>

<div class="bg-color-verde-header  shadow-inner  text-white font-[tipo1]">
<section class="flex flex-col lg:flex-row items-center justify-between px-8 lg:px-16 py-12">
  <!-- Texto a la izquierda -->
  <div class="w-full lg:w-1/2 text-center lg:text-left mb-8 lg:mb-0">
    <h2 class="text-3xl font-bold mb-8">¿Qué hacemos?</h2>
    <p class=" leading-relaxed ">
      Agrokasa se dedica al transporte y comercialización de productos de agrícolas, cumpliendo con estándares internacionales. Los trabajadores realizan la recolección bajo estrictas políticas de calidad, lo que garantiza frescura y sostenibilidad en toda la cadena de valor.
      Todo el proceso está respaldado por un sistema digital de control de asistencia adaptado a zonas rurales, lo que refuerza la eficiencia operativa y la transparencia en la gestión del recurso humano.
    </p>
    <p>
        Además, AgroKasas está implementado el software AgroCyl para la gestión integral de empleados, a través de su plataforma AgroAssint. Esta solución tecnológica permitirá un control más eficiente de la información laboral, certificaciones, y datos personal, fortaleciendo así la trazabilidad y la formalización del empleo en el sector agrícola..
    </p>
  </div>

  <!-- Imagen a la derecha -->
  <div class="w-full lg:w-1/2 flex justify-center">
    <img src="nosotros_3.jpg" 
         alt="Imagen Agroindustrial"
         class="w-[400px] h-[400px] object-cover object-[85%_center] ">
  </div>
</section>

</div>
<div class="flex items-center justify-center ">
  <h1 class="text-3xl font-bold text-center p-10">
    Transformación digital en el agro: Eficiencia y trazabilidad
  </h1>
</div>

<section class="flex flex-col lg:flex-row items-center justify-between px-8 lg:px-16 py-12">
  <!-- Texto a la izquierda -->
  <div class="w-full lg:w-1/2 text-center lg:text-left mb-8 lg:mb-0">
    <h2 class="text-3xl font-bold mb-4">Sobre la Empresa</h2>
    <p class="text-gray-700 leading-relaxed ">
     En su compromiso con la innovación y la mejora continua. AgroKasa ha apostado por la transformación digital como eje clave de su estrategia operativa. La implementación del software AgroCyt, en un conjunto con la herramienta de AgroAssint, permite no solo llevar un control preciso de la asistencia en campo, sino también gestionar de manera centralizada la información laboral de cada trabajador, incluyendo historial de certificaciones, capacitaciones y desempeño.
    </p>    
    <p>Este enforque tecnológico no solo optimiza los procesos internos, sino que también aporta valor a nivel comercial, al garantizar a los clientes internacionales que los productos han sido cultivados y procesados bajo condiciones éticas, sostenibles y transparentes. La digitalización del recurso humano en el agro representa un paso fundamenta para la formalizacion laboral y el desarrollo de comunidades rurales.</p>
  </div>

  <!-- Imagen a la derecha -->
  <div class="w-full lg:w-1/2 flex justify-center">
    <img src="agrocyt.png" 
         alt="Imagen Agroindustrial"
         class="w-[400px] h-[300px] object-cover object-[85%_center] ">
  </div>
</section>