<footer class="bg-color-verde-header py-10 shadow-inner mt-10 text-white font-[tipo1]">
    <div class="max-w-7xl  px-6"> 

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 justify-items-center">

            <div class="lg:col-span-1">
                <h5 class="text-lg font-bold mb-4 relative pb-1.5 ">AgroCYT.</h5>
                <div class="text-sm space-y-3">
                    <p class="flex items-center">
                        <i class="pi pi-map-marker text-color-verde-postular"></i>
                        <span>Ocucaje 1195, Ica, Perú</span>
                    </p>
                    <p class="flex items-center space-x-2">
                        <i class="pi pi-phone text-color-verde-postular"></i>
                        <a href="tel:+51960130261" class="hover:text-yellow-400 transition duration-200">+51 960 130 261</a>
                    </p>
                    <p class="flex items-center space-x-2">
                        <i class="pi pi-envelope text-color-verde-postular"></i>
                        <a href="mailto:soporte@agrovision.es" class="hover:text-yellow-400 transition duration-200">soporteagrovision.es</a>
                    </p>
                </div>
            </div>

            <div class="">
                <h5 class="text-lg font-bold mb-4 relative pb-1.5 ">Portales</h5>
                <ul class="text-sm space-y-2 list-none p-0">
                    <li><a routerLink="/info-empresarial" class=" hover:text-yellow-400 transition duration-200">Informacion Empresarial</a></li>
                    <li><a routerLink="/ruta" class=" hover:text-yellow-400 transition duration-200">Ruta</a></li>
                    <li><a routerLink="/formularios" class=" hover:text-yellow-400 transition duration-200">Formularios</a></li>
                </ul>
            </div>

            <div class="">
                <h5 class="text-lg font-bold mb-4 relative pb-1.5 ">Noticias</h5>
                <ul class="text-sm space-y-2 list-none p-0">
                    <li><a routerLink="/noticias" class=" hover:text-yellow-400 transition duration-200">Noticias</a></li>
                    <li><a routerLink="/eventos" class=" hover:text-yellow-400 transition duration-200">Eventos</a></li>
                </ul>
            </div>

            <div class="">
                <h5 class="text-lg font-bold mb-4 relative pb-1.5 ">Enlaces</h5>
                <ul class="text-sm space-y-2 list-none p-0">
                    <li><a routerLink="/contacto" class=" hover:text-yellow-400 transition duration-200">Contacto</a></li>
                    <li><a routerLink="/servicio-empleado" class=" hover:text-yellow-400 transition duration-200">Servicio al Empleado</a></li>
                    <li><a href="#" class=" hover:text-yellow-400 transition duration-200">TeamViewer</a></li>
                    <li><a href="#" class=" hover:text-yellow-400 transition duration-200">Cancelar</a></li>
                </ul>
            </div>

            <div  >
                <h5 class="text-lg font-bold mb-4 relative pb-1.5 ">Quiénes somos</h5>
                <ul class="text-sm space-y-2 list-none p-0">
                    <li><a routerLink="/nosotros" class=" hover:text-yellow-400transition duration-200">Acerca de nosotros</a></li>
                    <li><a routerLink="/nuestros-companeros" class=" hover:text-yellow-400 transition duration-200">Nuestros compañeros</a></li>
                    <li><a routerLink="/clientes" class=" hover:text-yellow-400 transition duration-200">Nuestros clientes</a></li>
                    <li><a routerLink="/postular" class=" hover:text-yellow-400 transition duration-200">Empleo</a></li>
                </ul>
            </div>
        </div>

        <div class="mt-6 pt-4 border-t border-gray-200">
            <div class="flex flex-col md:flex-row justify-between items-center text-center md:text-left">
                <div class="mb-3 md:mb-0">
                    <p class="text-xs text-gray-500">
                        Copyright © AgroCYT 2024 |
                        <a routerLink="/legal" class="hover:text-blue-500 transition duration-200">Documentación legal</a> |
                        Sitio web creado por Arls.
                    </p>
                </div>
                <img src="LogoNombre.svg" alt="logoNombre" style="width: 200px;">
            </div>
        </div>
    </div>
</footer>