<div class="flex min-h-screen">

    <!-- MENÚ LATERAL -->
    <div class="w-64 h-screen">
      <p-menu
        [model]="menuItems"
        class="!border-none  shadow-none w-full h-full"
        styleClass="!border-none !rounded-none"
      >
        <ng-template pTemplate="item" let-item>
          <a
            *ngIf="item.routerLink"
            [routerLink]="item.routerLink"
            [ngClass]="{
              '!bg-color-verde-hover': seccionActiva === item.id,
              'text-color-verde-header hover:bg-color-verde-hover':
                seccionActiva !== item.id
            }"
            class="p-3 rounded-md transition duration-150 cursor-pointer flex items-center space-x-2">
            <i [class]="item.icon"></i>
            <span>{{ item.label }}</span>
          </a>
        </ng-template>
      </p-menu>
    </div>
  
    <!-- CONTENIDO PRINCIPAL -->
    <main class="flex-1 p-6 bg-gray-50 overflow-y-auto">
      <router-outlet></router-outlet>
    </main>
  
  </div>